.App {
  column-count: 5;         
  column-gap: 20px;        
  padding: 20px;
  background-color: black;
}

.movieContainer{
  display: inline-block;   
  width: 100%;             
  margin-bottom: 20px;      
  background: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.movieContainer img {
  width: 100%;
  height: auto; 
  display: block;
}

h2{
  font-size: 2em;
  margin: 10px;
  text-align: center;              
  white-space: normal;           
  word-wrap: break-word;        
  overflow-wrap: break-word;     
  line-height: 1.4;   
  color: brown;
}
