.detailPage {
  position: relative;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: left;
  padding: 40px;
  color: white;
  border-radius: 5%;
}

.detailBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
  z-index: -1;
}

.detailBackdrop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.detailContent {
  position: relative;
  z-index: 1;
  max-width: 900px;
  width: 60%;
  height:80%;
  text-align: left;
  padding-bottom: 150px;
}

.detailTitle {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.detailMeta {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.detailMeta span {
  margin-right: 25px;
  font-weight: 600;
  color: #ffcc00;
}

.detailOverview {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.8;
  max-width: 750px;
  color: #e0e0e0;
}

.navButtons {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 10;
}

.navButtons button {
  background: rgba(0, 0, 0, 0.6);
  font-size: 2.5rem;
  color: white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  border: none;       
  outline: none;       
  box-shadow: none;    
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButtons button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.navButtons button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.navButtons button:focus {
  outline: none;       
  box-shadow: none;
}
